/* You can add global styles to this file, and also import other style files */
@use '../../oxygen-ui/src/lib/styles/main.scss';

/* Global Demo Canvas Helpers */
.canvas-container,
.speeddial-canvas {
  position: relative !important;
  width: 100% !important;
  min-height: 480px !important;
  display: block !important;
  box-sizing: border-box !important;
  border-radius: 16px;
  overflow: visible !important;
}
